{% extends 'base.html'%}
  {% block content %}
        <div class="about" id="about">
            <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                     <img src="\static\img\john.jpg" class="img-fluid">
                     <span class="text-justify">John cena</span>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 desc">
                      
                     <h3>John Cena</h3>
                     <p>
                        WWE and Hollywood star John Cena is reportedly dating again following his
                         split from Nikki Bella and he has been snapped hand-in-hand with a mystery woman.
                          Nikki Bella and John Cena are "basically back together"
                         and it has been claimed that the couple never planned to end their relationship.
                     </p>
                    </div>
                   </div>
                </div>
    {% endblock %}