{% extends 'inventory_base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}
{% block title%}Add Items
{% endblock%}


{% block content %}
    
   <div class="container">
    <h1 class="text-center logo my-4">
      <a href="#">Enter Item Details</a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Item Details</h3>
            <form method='POST' enctype="multipart/form-data">{% csrf_token %}
               {% include 'includes/form.html' %}
               <button type="submit" class="btn btn-outline-info btn-block">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
   </div><br><br>

{% endblock %}